{{- $defaultParams := dict 
    (slice "class" "width") "triple" 
    (slice "imgAttrs" "alt") "Featured image" 
}}
{{- with (partial "mod-img/get" (dict "src" "featured" "ctx" . )) }}
    {{- $params := merge $defaultParams .params }}
    {{- $imgMap := partial "mod-img/func/params/aggregate/all/figure" (dict "img" .img "params" $params) }}
    {{- $imgMap = partial "mod-img/func/raster/preprocess" $imgMap }}
    {{- partial "mod-img/render/container/figure" $imgMap }}
    {{- partial "mod-img/helper/debug" $imgMap.params }}
{{- end }}