{{- $defaultParams := dict (slice "class" "width") "double" (slice "imgAttrs" "alt") "Featured image" }}
{{- with (partial "img/get" (dict "src" "featured" "ctx" . )) }}
    {{- $params := merge $defaultParams .params }}    
    {{- $params := partial "img/func/params/aggregate/preprocess" (dict "img" .img "params" $params) }}
    {{- $params = partial "img/func/params/aggregate/container-class" $params }}
    {{- $params = partial "img/func/params/aggregate/class" (dict "type" "figure" "params" $params) }}       
    {{ $imgMap := (dict "img" .img "params" $params )}}
    {{- if $params.process.run }}
        {{- $imgMap = partial "img/func/raster/preprocess" $imgMap }}
    {{- end }}
    {{- partial "img/render/container/figure" $imgMap }}
    {{- partial "img/helper/debug" $imgMap.params }}
{{- end }}