{{- $defaultParams := dict (slice "class" "width") "double" (slice "imgAttrs" "alt") "Featured image" }}
{{- with (partial "img/get" (dict "src" "featured" "ctx" . )) }}
    {{- $params := merge $defaultParams .params }}
    {{- $params = partial "img/func/params/aggregate/container-class" $params }}
    {{- $params = partial "img/func/params/aggregate/class" (dict "type" "figure" "params" $params ) }}    
    {{- partial "img/render/container/figure" (dict "img" .img "params" $params ) }}
    {{- partial "img/helper/debug" $params }}
{{- end }}