{{- $img := .img }}
{{- $params := .params }}

{{- if (eq $params.process.svg "inline") }}
    {{- partial "img/debug" $params }}
    {{- $img.Content | safeHTML }}
    {{- if $params.index -}} {{- /* Hidden img with pagefind attributes */}}
        <img class="hide" 
            data-pagefind-meta="image[data-src], image_alt[alt]" 
            data-src="{{ $params.imgAttrs.src }}" 
            {{- with $params.imgAttrs.alt }}alt="{{ . }}"{{ end -}}>
    {{- end }}
{{- else }}
    {{- if $params.index }}
        {{- $params = merge $params (dict (slice "imgAttrs" "data-pagefind-meta") "image[src], image_alt[alt]" ) }}
    {{- end }}
    {{- partial "img/debug" $params }}
    <img
    {{- range $k, $v := $params.imgAttrs }}
        {{- printf " %s=%q" $k $v | safeHTMLAttr }}
    {{- end -}}
    >
{{ end }}