{{/* 
  Context:
    - img
    - params 
*/}}

{{- $srcset := partial "img/func/raster/srcset" . }}
{{- $lqip := partial "img/func/raster/lqip" .img -}}
{{- $fallback := partial "img/func/raster/fallback" .img }}
{{- $aspectratio := print (div .img.Width (float .img.Height)) }}

{{- $params := merge .params (dict (slice "imgAttrs" "src") $lqip) }} 
{{- $params = merge $params (dict (slice "imgAttrs" "class") "lazyload") }} 
{{- $params = merge $params (dict (slice "imgAttrs" "data-srcset") $srcset) }}
{{- $params = merge $params (dict (slice "imgAttrs" "data-src") ($fallback.RelPermalink | safeURL) ) }}
{{- $params = merge $params (dict (slice "imgAttrs" "data-sizes") "auto" ) }}
{{- $params = merge $params (dict (slice "imgAttrs" "data-parentfit") "cover" ) }}
{{- $params = merge $params (dict (slice "imgAttrs" "data-aspectratio") $aspectratio) }}
{{- if .params.index }}
    {{- $params = merge $params (dict (slice "imgAttrs" "data-pagefind-meta") "image[data-src], image_alt[alt]" ) }} 
{{- end }}
<img
  {{- range $k, $v := $params.imgAttrs }}
      {{- printf " %s=%q" $k $v | safeHTMLAttr }}
  {{- end -}}
>
{{- /**/ -}}       