{{- $page := .page }}
{{- $src := .src }}
{{- $path := .path }}
{{- $errorLevel := .errorLevel }}

{{- $u := urls.Parse $src }}
{{- $s := "Unable to resolve the resource %q in %s" }}
{{- $errorMsg := printf $s $u.String $path }}

{{- $r := "" }}
{{- if $u.IsAbs }} {{- /* Remote */}}
    {{- with resources.GetRemote $u.String }}
        {{- with .Err }}
            {{- if eq $errorLevel "warning" }}
                {{- warnf "%s. See %s" . $path }}                
            {{- else if eq $errorLevel "error" }}
                {{- errorf "%s. See %s" . $path  }}
            {{- end }}
        {{- else }}
            {{- $r = . }}
        {{ end }}
    {{- else }}
        {{- partial "print-error-message" (dict "errorMsg" $errorMsg "errorLevel" $errorLevel) }}
    {{- end }}
{{- else }}
    {{- with $page.Resources.GetMatch (strings.TrimPrefix "./" $u.Path) }} {{- /* Local */}}
        {{- $r = . }}
    {{- else }}
        {{- /* Fallback partial */}}
    {{- end }}    
    {{- if not $r }}
        {{- with resources.Get $u.Path }} {{- /* Global */}}
            {{- $r = . }}
        {{- else }}
            {{- partial "print-error-message" (dict "errorMsg" $errorMsg "errorLevel" $errorLevel) }}
        {{- end }}   
    {{- end }}
{{- end }}

{{- return $r }}