html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 1.4;
}

body {
    background: #fafcfe;
    color: #333;
}

.content {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.img {
    display: block;
}

figure {
    margin: 0;
}

code {
    font-size: 80%;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #222;
}

#TableOfContents {
    padding: 10px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ccc;
}

.caption {
    display: block;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.3;
}

.caption__attr {
    float: right;
    font-weight: 300;
}

.emb--ph-left {
    float: left;
    clear: left;
    padding-right: 10px;
    margin-right: 10px;
}

.emb--ph-right {
    float: right;
    clear: right;
    padding-left: 10px;
    margin-left: 10px;
}

.emb--w-quarter {
    width: calc( 25% - 10px );
}

.emb--w-half {
    width: calc( 50% - 10px );
}

.fig {
    margin: 0 auto;
}

.fig--w-double {
    max-width: 60rem;
}

.fig--w-triple {
    max-width: 90rem;
}

.img__c svg {
    display: block;
}

.img__c--bg-light {
    background-color: #eee;
}

.img__c--box-shadow {
    box-shadow: 0 0 0 1px #aaa;
}

.img--t-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img--pad-one {
    padding: 1rem;
}
