html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 1.4;
}

body {
    background: #fafcfe;
    color: #333;
}

.content {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

.img-c {
    display: block;
    overflow: hidden;
}


.ls-blur-up-img,
.img--ls {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;

	/* only if you want to change the blur-up option from always to auto or want to use blur up effect without a lowsrc image. */
	font-family: "blur-up: always", "object-fit: cover";

    object-fit: cover;
}

.img--ls.ls-blur-up-is-loading,
.img--ls.lazyload:not([src]) {
	visibility: hidden;
}

.ls-blur-up-img {
    filter: blur(10px);
    opacity: 1;
    transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
    opacity: 0;
    filter: blur(5px);
}

code {
    font-size: 80%;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #222;
}

#TableOfContents {
    padding: 0.5rem 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ccc;
}

.caption {
    display: block;
    font-size: 12px;
    line-height: 1.3;
}

.caption__attr {
    float: right;
    font-weight: 300;
}

.emb--ph-left {
    float: left;
    clear: left;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

.emb--ph-right {
    float: right;
    clear: right;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.emb--w-quarter {
    width: calc( 25% - 0.5rem );
}

.emb--w-half {
    width: calc( 50% - 0.5rem );
}

.fig {
    margin: 0 auto;
}

.fig--w-double {
    max-width: 60rem;
}

.fig--w-triple {
    max-width: 90rem;
}

.opac {
    opacity: 0.5;
}

/*
.lazyload,
.lazyloading {
	filter: blur(5px);
}

.lazyloaded {
	filter: blur(0);
	transition: filter 150ms ease-in-out;
}
*/